extends layout

block content
  body.centered-form
    .centered-form__form
      form(action='/chat')
        .form-field
          h3 Join a Chat
        .form-field
          label Display name
          input(type='text' name='name' autofocus)
        .form-field
          label Room name
          input(type='text' name='room')
        .form-field
          button Join